{% extends "AppTrabajo/herencia.html" %}

{% load static %}

{% block herencia %}

<div style="background-color: rgb(240, 188, 75);">

    </form>
    <h1>Editar Vendedor</h1>
    
    {% if registro.errors %}

    <p style="color: red;"> Datos erróneos</p>

    {% endif %}


    <form action="" method="POST">{% csrf_token %}
        
        <table>

            {{ miFormulario.as_table }}


        </table>


        <input type="submit", value="Registrar">

    </form>
    <br>
</div>

{% endblock %}